.navigation-row{
    position: fixed !important;
    transition: 300ms ease-in-out;
    top: 0vw;
    width: 100%;
}
.navigation-container{
    display: flex;
    padding: 30px;
    width: min(90vw, 80%);
    margin: auto;
}
.cta-nav{
    text-decoration: none;
    color: white;
}
.navigation-container > *:not(:nth-child(2)) {
    flex: 1;
    font-size: 1.rem;
}
.navigation-container > :nth-child(2){
    flex: 2;
}
.navigation{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    color: #fff;
    font-size: 1.1rem
}
.cta-nav, .btn{
    padding: 14px 10px 12px 10px;
}
.btn{
    display: inline-block;
    border-radius: 100px;
    width: 5.5rem;
    text-align: center;
    cursor: pointer;
    transition: 300ms ease-in-out;
    font-weight: 600;
    color: white;
    width: auto;
}
.btn:hover{
    border-radius: 0px;
}
.primary{
    background-color: var(--primary);
    color: #333;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.cta-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.nav-btn{
    display: none;
}
.navigation-container .logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}
.scrolled{
    background-color: #2b2424;
}
@media screen and (max-width: 768px) {
    .navigation-row{
        background-color: var(--primary);
    }
    .nav-btn{
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
        color: var(--secondary);
        transition: 300ms ease-out;
    }
    .logo{
        color: var(--secondary) !important;
    }
    .primary.nav{
        background-color: var(--secondary);
        color: white;
    }
    .cta-container{
        padding: 35px 0px; /*20*/
    }
    .navigation-container, .navigation{
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .logo{
        padding: 20px 0px;
    }
    .title-container{
        flex-direction: column;
        padding: 50px 0px;
    }
    .hero-image-container{
        width: 100%;
    }
    .hero-image{
        background-size: contain;
        background-position: center center !important;
        order: 1;
    }
    .hero-title{
        order: 2;
    }
    .navigation-row.mobile{
        transition: 300ms ease-out;
        translate: 0px -251px;
    }
    .logo.mobile{
        position: absolute;
        bottom: -5px;
    }
    .navigation-row.mobile.active{
        translate: 0px 0px;
    }
    .nav-btn.active{
        padding: 20px;
        top: 0px;
        bottom: unset;
    }
    .cta-container.active{
        padding: 20px 0px;
    }
}